.Dictionary h1 {
  color: #f886cc;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}

.Dictionary section {
  background: rgba(255, 255, 255, 0.932);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(44, 44, 44, 0.548);
  margin: 20px 0;
}

.Dictionary .input-form {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #333;
}

.Dictionary .btn-form {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #333;
  transition: all 150ms ease-in-out;
}

.Dictionary .btn-form:hover {
  background-color: #5d768b;
  color: #fff;
}

.Dictionary .hint {
  font-size: 12px;
  font-style: italic;
  margin-top: 3px;
}
