body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: #d12f93;
}

a {
  color: #fff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App .App-footer {
  font-size: 12px;
  margin-top: 50px;
}

.App .App-footer a {
  text-decoration: none;
}
